.btn {
	background: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
	opacity: 0.85;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border: none;
	outline: none;
	padding: 12px 21px;
	cursor: pointer;
}
