.footer__col {
	margin: 0 60px;
}
.footer__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #323232;
}
.footer__col ul li,
.footer__col ul li a {
	margin-top: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #646464;
}
